
  <%= form_with(scope: :session, url: sessions_path) do |f| %>
  <h1>Log in</h1>
  <div>
    <%= f.email_field :email, placeholder: 'E-mail' %>
  </div>

  <div>
    <%= f.password_field :password, placeholder: 'Password' %>
  </div>

  <div>
    <%= f.submit "Log in" %>
  </div>
<% end %>
