<h2>Dear <%= @user.name %>,</h2>
</br>
<h2>Welcome to this blog!</h2>
<h3><%= link_to 'Let\'s create your own blog from here',new_vlog_path %></h3>
<h3><%= link_to 'Let\'s see the list of your blogs from here',vlogs_path %></h3>
